.popupNoti {
	height: 50vh;
  width: 60vw;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.head h1 {
	margin: 0;
	padding: 16px 20px;
	font-size: 20px;
	text-transform: uppercase;
	background: #dcbc8f;
	font-weight: 700;
	color: #fff;
}

.content {
	flex: 1;
	padding: 0px 20px 10px;
	border-top: 1px solid #00000021;
	border-bottom: 1px solid #00000021;
	overflow-y: auto;
}

.content h3 {
	font-size: 20px;
	padding: 10px;
	text-align: center;
	position: relative;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 30px;
	position: sticky;
	top: 0;
	background-color: #fff;
}

.content h3::after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 200px;
	height: 2px;
	background-color: #f37021;
}

.btn {
	padding: 10px;
	background: #f37021;
	margin: 10px;
	color: #fff !important;
}

.btn2 {
	background-color: #333;
}

.foot {
	text-align: end;
}

.contact {
	text-align: end;
	background: #dcbc8f;
}

.contact a {
	padding: 10px;
	display: inline-block;
	color: #fff !important;
}
