.customerWrapper {
	background-color: #fafafa;
	padding: 80px 0;
}

.boxSlider {
	@apply shadow-lg;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 32px 24px;
	background: #ffffff;
}

.boxSliderImg {
	@apply w-[6.5rem] h-[6.5rem] rounded-[12px] overflow-hidden m-auto shadow-xl;
}

.count {
	z-index: 100;
	position: absolute;
	color: #333;
	left: 50%;
	bottom: 20px;
	font-size: 16px;
	transform: translateX(-50%);
}

.boxSliderContent {
	@apply flex-1 flex flex-col items-center justify-center;
}
