body {
  /* font-family: Roboto, sans-serif !important; */
  font-family: "Inter", sans-serif !important;
}

.ant-pagination-prev.ant-pagination-disabled:focus-visible
  .ant-pagination-item-link,
.ant-pagination-next.ant-pagination-disabled:focus-visible
  .ant-pagination-item-link,
.ant-pagination-prev.ant-pagination-disabled:hover .ant-pagination-item-link,
.ant-pagination-next.ant-pagination-disabled:hover .ant-pagination-item-link {
  color: rgba(0, 0, 0, 0.25);
  border-color: #d9d9d9;
}

.ant-popover-placement-top,
.ant-popover-placement-topLeft,
.ant-popover-placement-topRight {
  padding-bottom: 0 !important;
}

.ant-upload.ant-upload-select-picture-card {
  margin-bottom: 0 !important;
  margin-right: 0 !important;
  width: 90px !important;
  height: 90px !important;
  border-radius: 20px !important;
}

.ant-spin-nested-loading > div > .ant-spin {
  max-height: unset !important;
}

.ant-upload-list-item {
  border-radius: 20px !important;
}

.tox-tinymce {
  padding: 5px !important;
}

.tox-tbtn--enabled,
.tox-mbtn--active {
  background-color: #f8dfd5 !important ;
  margin: 2px !important;
}

.tox-tbtn:hover,
.tox-mbtn:hover {
  background-color: #f8dfd5 !important ;
}

.tox-menu {
  border-radius: 20px !important;
  margin-top: 5px !important;
}
.tox-collection__item:hover {
  background-color: #f8dfd5 !important ;
}

.ant-upload-list-picture-card-container {
  margin-bottom: 0 !important;
  width: 90px !important;
  height: 90px !important;
}

.tracking .ant-steps-label-vertical .ant-steps-item-icon {
  width: 48px;
  height: 48px;
  position: relative;
  z-index: 1;
  background-color: #9795b2 !important;
  display: flex !important;
  align-items: center !important;
}

.tracking div.ant-steps-label-vertical div.ant-steps-item-content {
  margin-top: 0;
  max-width: 200px;
  width: 100%;
}

.tracking div.ant-steps-item-title {
  top: 0;
  font-size: 13px;
  text-align: center;
  color: #6b6f82 !important;
  margin-left: -32px;
}

.tracking div.ant-steps-label-vertical div.ant-steps-item-tail {
  padding: 0;
  z-index: 0;
  top: 24px;
}

.tracking div.ant-steps-item-tail::after {
  height: 3px;
  background-color: #e5e5e5 !important;
}

.tracking span.ant-steps-icon {
  font-size: 22px;
  margin: auto;
}

@media (max-width: 415px) {
  .tracking span.ant-steps-icon {
    line-height: 0 !important;
    font-size: 14px;
  }
  .tracking div.ant-steps-item-container {
    height: 60px !important;
  }
  .tracking div.ant-steps-item-title {
    margin-left: 0 !important;
  }
}

.tracking
  div.ant-steps-item-finish
  div.ant-steps-item-icon
  > span.ant-steps-icon {
  @apply text-white;
}

.tracking div.ant-steps-item-finish div.ant-steps-item-icon {
  background-color: var(--primary-color) !important;
  border-style: solid !important;
}

.tracking
  div.ant-steps-item-finish
  > div.ant-steps-item-container
  > div.ant-steps-item-tail::after {
  background-color: var(--primary-color) !important;
}

.tracking
  div.ant-steps
  > div.ant-steps-item:first-child
  > div.ant-steps-item-container
  > div.ant-steps-item-content {
  position: relative;
  left: -5px;
}

.tracking
  div.ant-steps
  > div.ant-steps-item:last-child
  > div.ant-steps-item-container
  > div.ant-steps-item-content {
  position: relative;
  left: 32px;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  position: relative;
  bottom: 3px;
}

.ant-collapse > .ant-collapse-item {
  border: solid 1px #0c5963 !important;
  margin-bottom: 10px !important;
  /* background-color: #0c5963; */
}

.ant-collapse {
  background-color: transparent !important;
  border: transparent !important;
}

/* =========== */
.tracking .tracking.ant-steps {
  max-width: 1000px;
  margin: auto;
}

.tracking .tracking > .ant-steps-item-wait .ant-steps-item-icon {
  background-color: #f5998e !important;
  border: none;
}

.tracking .ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
  color: #fff !important;
}

.tracking .tracking > .ant-steps-item .ant-steps-item-icon > .ant-steps-icon {
  color: white;
}

.tracking
  .tracking
  > .ant-steps-item-wait
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  height: 5px;
  background-color: #f5998e !important;
}

.tracking
  .tracking
  > .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  height: 5px;
  background-color: #98d091 !important;
}

.tracking .tracking > div.ant-steps-item-finish div.ant-steps-item-icon {
  background-color: #98d091 !important;
  border-color: #98d091;
}

.tracking
  .tracking
  > div.ant-steps-item
  > div.ant-steps-item-container
  > div.ant-steps-item-content
  > div.ant-steps-item-title {
  color: #000 !important;
  @apply text-base;
  margin-top: 8px;
  text-transform: none;
}

.ant-checkbox + span {
  color: #6b6f82 !important;
}

.ant-checkbox-checked::after {
  border: 1px solid var(--primary-color);
}

.ant-modal-mask {
  position: fixed;
  inset: 0;
  z-index: 1000;
  height: 100%;
  background-color: #00000073;
}

.ant-input[disabled] {
  color: inherit !important;
}

.ant-input {
  border-radius: 0 !important;
}

.ant-input-affix-wrapper.barcode {
  padding: 0;
  /* border-radius: 10px; */
}

.ant-input-affix-wrapper.barcode .ant-input-prefix {
  margin-right: 0px;
}

.ant-input-affix-wrapper.barcode .ant-input-suffix {
  margin-right: 10px;
}

.ant-input-affix-wrapper.barcode input {
  padding: 0 8px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.ant-modal-wrap {
  z-index: 1000;
}
.ant-modal-wrap {
  position: fixed;
  inset: 0;
  overflow: auto;
  outline: 0;
  -webkit-overflow-scrolling: touch;
}

.ant-modal {
  box-sizing: border-box;
  padding: 0 0 0 24px;
  color: #000000d9;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  pointer-events: none;
  position: relative;
  top: 100px;
  width: auto;
  max-width: calc(100vw - 32px);
  margin: 0 auto;
  padding-bottom: 0 !important;
}

.ant-modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014,
    0 9px 28px 8px #0000000d;
  pointer-events: auto;
}

.ant-modal-content .ant-modal-body {
  z-index: 2;
  box-shadow: none;
}

.ant-modal-content .ant-modal-close {
  z-index: 1;
}

.ant-modal-body {
  padding: 0 !important;
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014,
    0 9px 28px 8px #0000000d;
  pointer-events: auto;
  padding: 0 !important;
}

.ant-dropdown {
  box-shadow: 1px 1px 7px #adc0c4;
}
.ant-dropdown a {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #0c5963 !important;
}

.ant-dropdown li.ant-menu-item {
  margin: 0;
}

.ant-dropdown li.ant-menu-item:hover {
  background-color: #0c596330;
}

.ant-pagination-item-active a {
  color: var(--primary-color) !important;
}

.tox-tinymce {
  border: 1px solid #d9d9d9 !important;
}

.cart > .ant-checkbox > .ant-checkbox-inner,
.transfer > .ant-checkbox > .ant-checkbox-inner {
  border: 2px solid #000;
  width: 20px;
  height: 20px;
}

.cart > span {
  font-weight: 500;
}

div.ant-collapse-content > div.ant-collapse-content-box {
  padding: 0px;
}

div.order.ant-drawer-bottom.ant-drawer-open {
  height: unset;
}

.ant-drawer-body {
  padding: 6px !important;
}

.box_inner__uJplS {
  padding: 10px !important;
}

.box_box__ICS_C {
  padding: 10px !important;
}

.box_subtitle__IJyZ1 {
  font-size: xx-small;
}

.box_right__eacBy {
  color: rgb(126, 124, 124);
}

.box_list__HY6ov {
  width: 100%;
  margin-bottom: 0 !important;
  border: #f8dfd5 !important;
}

.box_item__siuD4 {
  width: 25%;
}

.ant-drawer-close {
  padding: 6px 9px !important;
  background-color: #f8dfd5 !important ;
  color: #f14f04 !important;
  border-radius: 5px !important;
  margin-right: 20px !important;
}

.ant-drawer-title {
  margin-top: 5px !important;
}

div.order .ant-drawer-mask {
  background-color: transparent;
}

div.order .ant-drawer-content-wrapper {
  height: auto !important;
}

div.order .ant-drawer-body {
  background-color: #f4f5f6;
  padding: 16px;
  border-top: 1px solid rgb(247, 182, 162);
}

div.order.ant-drawer-bottom.ant-drawer-open .ant-drawer-content-wrapper {
  box-shadow: none;
}

div.breadcrumb span {
  color: white !important;
  @apply text-base;
}

span.create .ant-upload.ant-upload-select-picture-card {
  width: 75px;
  height: 75px;
  margin: 8px;
}

/* styles home */

.ant-tabs {
  overflow: visible !important;
}

.customTab .ant-tabs-tab {
  color: #f8a6ad;
  font-size: 14px;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  line-height: normal;
}

.customTab .ant-tabs-tab .ant-tabs-tab-btn {
  margin: 0 !important;
}

.ant-tabs-ink-bar {
  background: #0c5963;
}

.customTab .ant-tabs-ink-bar {
  display: none;
}

.customTab .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  font-size: 14px;
  padding: 4px;
  transition: 0.3s !important;
  margin: 0 !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff !important;
  transition: 0.3s !important;
}

.ant-tabs-tab-btn {
  font-weight: 600 !important;
  color: #3e3c6a !important;
  transition: 0.3s !important;
}

.customTab .ant-tabs-tab + .ant-tabs-tab {
  margin: 0 auto !important;
}

.colorTitle {
  color: #0b2154;
}

.containerHome {
  width: 1200px;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 15px;
}

@media screen and (max-width: 1024px) {
  .containerHome {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  /* div.ant-steps > div.ant-steps-item:last-child > div.ant-steps-item-container > div.ant-steps-item-content {
		position: initial;
		left: 32px;
	} */
}

.s-vices .content {
  padding: 50px 20px;
  position: relative;
  border-right: 1px solid rgb(177, 177, 177);
  border-bottom: 1px solid rgb(177, 177, 177);
}

.s-vices .content p {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.s-vices .content::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 0 0 30px 30px;
  border-color: transparent transparent #f14f04 transparent;
  opacity: 0;
  transition: 0.3s ease-in-out;
  visibility: hidden;
}

.s-vices .content:hover::after {
  opacity: 1;
  visibility: visible;
}

.s-vices .content:hover h4 {
  color: #f14f04;
}

.s-vices .content:hover h4::after {
  background-color: #f14f04;
}

.s-vices .col-span-1:nth-child(3) .content {
  border-right: 0;
}

.s-vices .col-span-1:nth-child(4) .content {
  border-bottom: 0;
}

.s-vices .col-span-1:nth-child(5) .content {
  border-bottom: 0;
}

.s-vices .col-span-1:nth-child(6) .content {
  border-right: 0;
  border-bottom: 0;
}

.s-vices .content h4 {
  position: relative;
  height: 60px;
}

.s-vices .content h4::after {
  content: "";
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 1.5px;
  background-color: rgb(177, 177, 177);
  transition: 0.3s all;
}

.register .ant-tabs-tab {
  color: white;
  font-size: 14px;
}

.register .ant-tabs-tabpane {
  text-align: center;
}

.register .ant-tabs-nav-list {
  width: 100%;
  justify-content: space-between;
}

.benefit .col-span-1:nth-child(odd) .content {
  display: flex;
  justify-content: flex-end;
  padding-right: 260px;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.benefit .col-span-1:nth-child(even) .content {
  padding-left: 260px;
}

.benefit {
  position: relative;
}

.mt-main {
  margin-top: 165px;
}

.ant-back-top-icon {
  background-color: #d81324;
}

.pageDetail {
  padding: 80px 0;
}

.Catelist .ant-card-cover {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.Catelist .ant-card-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  transition: 0.3s ease-in-out;
}

.CateDetail p {
  font-size: 18px;
}

.Catelist .ant-card-body {
  padding: 12px;
}

.Catelist .ant-card-meta-description {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.Catelist .ant-card:hover .ant-card-meta-title {
  color: #f14f04;
}

.Catelist .ant-card:hover .ant-card-cover img {
  transform: scale(1.2);
}

.Catelist .ant-card-meta-title {
  white-space: normal;
}

@media screen and (max-width: 1024px) {
  .benefit .col-span-1:nth-child(odd) .content {
    padding-right: 150px;
  }
  .benefit .col-span-1:nth-child(even) .content {
    padding-left: 150px;
  }
  .mt-main {
    margin-top: 165px;
  }
}

@media screen and (max-width: 768px) {
  .s-vices .col-span-1:nth-child(2) .content {
    border-right: 0;
  }
  .s-vices .col-span-1:nth-child(3) .content {
    border-right: 1px solid rgb(177, 177, 177);
  }
  .s-vices .col-span-1:nth-child(4) .content {
    border-bottom: 1px solid rgb(177, 177, 177);
    border-right: 0;
  }
}
@media screen and (max-width: 576px) {
  .customTab .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    font-size: 14px;
  }
  .customTab .ant-tabs-tab {
    font-size: 14px;
  }
  .s-vices .col-span-1 .content {
    border: 1px solid rgb(177, 177, 177) !important;
  }
  .register .ant-tabs-nav-list {
    flex-direction: column;
  }
  .register .ant-tabs-tab {
    margin-left: 15px !important;
  }
  .register .ant-tabs-ink-bar {
    display: none;
  }
  .benefit .col-span-1:nth-child(odd) .content {
    padding-right: 0;
  }
  .benefit .col-span-1:nth-child(even) .content {
    padding-left: 0;
  }
  .mt-main {
    margin-top: 125px;
  }

  .ant-card-body {
    padding: 10px !important;
    font-size: 12px;
  }
}

.ant-menu.ant-menu-inline-collapsed {
  width: 18rem !important;
}

.css-1okebmr-indicatorSeparator {
  height: 100%;
  margin: 0 !important;
}

.ant-menu.ant-menu-inline-collapsed {
  width: 18rem !important;
}

.css-b62m3t-container .css-2mvf2f-control {
  border-radius: 0 !important;
}

.ant-popover {
  width: 300px !important;
  padding-left: 14px !important;
}

.ant-popover-content {
  box-shadow: 0 0 10px 0 #b3b3b3;
}

.ant-popover-inner {
  /* border-radius: 10px !important; */
  margin-left: -2px;
  box-shadow: 0 0 20px 0px rgba(211, 211, 211, 0.47);
  border: 1px solid lightgrey;
}

.ant-btn {
  background-color: #f8dfd5 !important;
  color: rgb(237, 70, 48) !important;
  border: #f8dfd5 !important;
  font-size: 12px !important;
  font-weight: 600 !important;
}

.ant-popover-title {
  text-align: left !important;
  padding: 16px 20px !important;
  color: #3e3c6a !important;
  border: none !important;
  font-size: 20px;
  max-height: 22px !important;
  font-weight: bold !important;
  cursor: pointer;
}

.ant-table {
  border: none !important;
}

.ant-table-cell-row-hover {
  background-color: #c6f1f7 !important;
}

.ant-table-container {
  border: none !important;
}

.ant-table-cell {
  border-left: none !important;
  border-right: none !important;
  padding: 8px !important;
}

.ant-collapse {
  border-radius: 10px !important;
}

.ant-collapse-item {
  border: 1px solid #f8eae4 !important;
}

.ant-collapse-header {
  color: #fff !important;
  font-weight: 600;
  background-color: #0c5963;
}

.collapse-order .ant-collapse-header > div {
  width: 100%;
}

.ant-collapse-header:hover {
  color: #f4e5c2 !important;
  background-color: #1f5372;
}

.anticon-caret-right {
  display: flex !important;
  align-items: center !important;
}

.ant-collapse-content {
  border-top: solid 1px #f8eae4 !important;
  border-radius: 5px !important;
}

.ant-table-content > table {
  border: none !important;
}

.ant-input-number-input {
  border-radius: 0px !important;
}

.ant-input-number {
  width: auto !important;
  border-radius: 0px !important;
}

.ant-table-thead > tr > th {
  background-color: #edf1f7 !important;
  /* border-bottom: none !important; */
}

.ant-table-tbody > tr > td {
  border-bottom: 1px solid rgba(2, 2, 242, 0.05) !important;
}

.ant-table-tbody > tr > td:first-of-type {
  border-left: 1px solid rgba(2, 2, 242, 0.05) !important;
  font-weight: 600;
  color: rgb(12, 89, 99);
}

.ant-table-tbody > tr > td:last-of-type {
  border-right: 1px solid rgba(2, 2, 242, 0.05) !important;
}

.ant-table-summary > tr > td {
  border-bottom: 1px solid rgba(2, 2, 242, 0.05) !important;
}

.ant-table-summary > tr > td:first-of-type {
  border-left: 1px solid rgba(2, 2, 242, 0.05) !important;
}

.ant-table-summary > tr > td:last-of-type {
  border-right: 1px solid rgba(242, 66, 2, 0.05) !important;
}

.ant-card {
  border-radius: 10px !important;
}

.ant-card-head-title {
  color: #f14f04;
}

.ant-checkbox-wrapper {
  margin: 0 !important;
}

.ant-drawer-header {
  padding: 12px !important;
}

div.order .ant-drawer-body {
  background-color: white;
}

.text-product {
  overflow: hidden;
  width: 180px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-right: 40px;
}

.menu-home-table {
  max-height: 350px !important;
  overflow: auto !important;
}

.menu-home-table .ant-table-cell button {
  visibility: visible !important;
}

@media (min-width: 1200px) {
  .ant-table-cell button {
    visibility: hidden !important;
  }
}

@media (max-width: 1025px) {
  .ant-pagination {
    min-width: 20px !important;
  }
}

.Toastify__toast {
  border-radius: 10px;
  box-shadow: 1px 1px 10px #d9d9d9;
}

.Toastify__toast-body {
  padding: 10px;
}

.ant-pagination-disabled .ant-pagination-item-link {
  border: none !important;
}
.ant-pagination-prev .ant-pagination-item-link {
  border: none !important;
}

.ant-pagination-item {
  border-radius: 5px !important;
  background-color: #edf1f7 !important;
  border: none !important;
}

.ant-pagination-item {
  color: #3e3c6a !important;
  font-weight: 600 !important;
}
.ant-pagination-next .ant-pagination-item-link {
  border: none !important;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 5px !important;
  background-color: #edf1f7 !important;
  border: none !important;
}

.ant-select-selection-item {
  font-weight: 600 !important;
  color: #3e3c6a !important;
}

.ant-pagination-item-active {
  background-color: #3e3c6a !important;
  color: #fff !important;
  border: white !important;
  border-radius: 5px !important;
}

.ant-pagination-item-active a {
  color: #fff !important;
}

.styleScroll::-webkit-scrollbar {
  background-color: #fff;
  width: 2px;
}

.styleScroll::-webkit-scrollbar-thumb {
  background-color: rgb(243, 102, 84);
  border: 2px solid rgb(243, 102, 84);
}

.styleScroll::-webkit-resizer {
  height: 300px;
}

.tox-swatches__row div {
  border-radius: 10px !important;
}

.ant-tag {
  border-radius: 5px !important;
  letter-spacing: 0.5px !important;
  opacity: 85% !important;
  margin-right: 0 !important;
  border: none !important;
  font-weight: 600;
  font-size: 12px !important;
  padding: 4px 12px !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #fff !important;
}

.ant-carousel {
  overflow: hidden !important;
}

.table-preview {
  @apply border-collapse w-full;
}

.table-preview tr th {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px;
  text-align: center;
}

.table-preview tr td {
  padding: 8px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top-width: 0;
}

.ant-tabs-nav-operations {
  position: unset !important;
  transition: 0.3s !important;
}

.ant-tabs-nav {
  background-color: #fff;
  border-radius: 10px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  margin-bottom: 0 !important;
}

.ant-input-number-handler-wrap {
  border-top-right-radius: 60px !important;
  border-bottom-right-radius: 60px !important;
}

.ant-upload-list-item-info {
  border-radius: 10px;
}

.tox-dialog {
  border-radius: 10px !important;
  border: none !important;
}

.ant-tabs-tab-active {
  background-color: #0c5963 !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  height: 30px !important;
  border-radius: 5px !important;
}
.ant-tabs-tab {
  padding: 0 !important;
  margin-left: 0 !important;
}

.ant-tabs-tab-btn {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  padding-left: 0 !important;
  text-align: center;
  align-items: center;
  padding-left: 10px !important;
  padding-right: 10px !important;
  transition: 0.3s !important;
}

/* transfer */
.ant-transfer-list {
  border-radius: 10px !important;
  border: 1px solid #f5b38a;
  padding: 10px 0 !important;
}

.ant-transfer-list-header {
  border-top-left-radius: 10px !important ;
  border-top-right-radius: 10px !important ;
}

.ant-transfer-list-search {
  border-radius: 8px !important;
}

tr:nth-child(even) {
  background-color: #f9fbff;
}

.setting-spin-loading {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-drawer.ant-drawer-left.ant-drawer-open .ant-drawer-body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
  padding-left: 10px;
}

/* OrderProductList.tsx */
.orderProductItem {
  @apply bg-[#e9eff1] py-4 px-4;
  border: 1px solid #00000033;
  transition: all 0.3s ease-in-out;
  margin: 10px;
}

.orderProductItem .mainTitle {
  @apply block !text-black hover:!text-black text-lg font-bold;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.popover-a {
  transition: all 0.3s ease-in-out;
}

.popover-a:hover {
  padding-left: 12px;
}

.show-pass {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 10000;
  font-size: 20px;
  color: #6b6f82;
  background-color: transparent;
  padding: 0 7px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.ant-card-extra {
  margin: 0 !important;
  width: 100% !important;
}

.ant-modal-confirm-body
  > .anticon
  + .ant-modal-confirm-title
  + .ant-modal-confirm-content {
  margin-left: 0 !important;
}

/* New styles */

.mainTitle {
  /* font-family: "Inter"; */
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #4d4d4d;
}

.secondTitle {
  /* font-family: "Inter"; */
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #f37021;
}

.title {
  /* font-family: "Inter"; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #4d4d4d;
}

.mainDes {
  /* font-family: "Inter"; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #808080;
}

/* benefit */
.mySwiper {
  position: relative !important;
  height: 300px;
  padding-top: 70px !important;
}

.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  position: absolute;
  top: 50px;
  transform: translateY(-25%);
}

.mySwiper .swiper-button-prev {
  right: 76px;
  left: unset;
}

.mySwiper .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.mySwiper .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  font-size: 18px;
  font-weight: 700;
  color: #333;
}

.mySwiper .swiper-horizontal > .swiper-pagination-progressbar,
.mySwiper .swiper-pagination-progressbar.swiper-pagination-horizontal,
.mySwiper
  .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.mySwiper
  .swiper-vertical
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  top: 50px;
  right: 0;
  bottom: unset;
  display: flex;
  margin: 10px 0;
}

.mySwiper .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #4d4d4d;
}

.mySwiper.choosenSwiper {
  overflow: visible;
  height: fit-content;

  /* margin-right: 60px; */
}

/* Register */
.register div.ant-steps-item-finish div.ant-steps-item-icon {
  background-color: #fff !important;
}

.register .ant-steps-icon {
  display: none;
}

.register .ant-steps-item-finish .ant-steps-item-icon {
  border: none;
}

.register
  .ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-icon {
  background: #f37021;
  box-shadow: inset 0 0 0px 6px white;
  border: none;
}

.register
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: #fff;
  height: 1px;
}

/* customer */
.mySwiper.customerSwiper {
  height: fit-content;
  padding-bottom: 70px;
}

.mySwiper.customerSwiper .swiper-button-prev {
  bottom: 0px;
  right: calc(50% + 20px);
  left: unset;
  top: unset;
}

.mySwiper.customerSwiper .swiper-button-next {
  bottom: 0px;
  right: unset;
  left: calc(50% + 20px);
  top: unset;
}

.ant-modal.homePopupNoti {
  min-width: 40vw !important;
  width: fit-content !important;
}

.mySwiper.homeCard {
  height: fit-content;
  padding-top: 0 !important;
  padding-bottom: 70px;
}

.mySwiper.homeCard .swiper-wrapper {
  padding: 20px 0;
  flex-direction: initial;
}

.mySwiper.homeCard .swiper-wrapper .swiper-slide {
  @apply shadow-lg hover:shadow-sm hover:border-[#c7ae8d];
  padding: 10px;
  border: 1px solid #c7ae8d66;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.mySwiper.homeCard .swiper-wrapper .swiper-slide .ant-card .ant-card-body {
  padding: 20px 10px !important;
}

.mySwiper.homeCardGrid {
  width: 100%;
  height: 92%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0 !important;
  padding-bottom: 70px;
}

.mySwiper.homeCardGrid .swiper-wrapper {
  padding: 20px 0;
  height: 98%;
  flex-wrap: wrap;
}

.mySwiper.homeCardGrid .swiper-wrapper .swiper-slide {
  @apply shadow-lg hover:shadow-sm hover:border-[#c7ae8d];
  padding: 10px;
  border: 1px solid #c7ae8d66;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  height: calc((100% - 30px) / 2) !important;

  /* Center slide text vertically */
}

.mySwiper.homeCardGrid .swiper-wrapper .swiper-slide .ant-card .ant-card-body {
  padding: 20px 10px !important;
}

.mySwiper.homeCardGrid .swiper-button-prev,
.mySwiper.homeCard .swiper-button-prev {
  bottom: 0px;
  left: unset;
  right: 70px;
  top: unset;
  transform: unset;
}

.mySwiper.homeCardGrid .swiper-button-next,
.mySwiper.homeCard .swiper-button-next {
  bottom: 0px;
  right: 0;
  left: unset;
  top: unset;
  transform: unset;
}

.chuyen-muc-subMenu ul.ant-menu-sub.ant-menu-inline {
  background-color: transparent !important;
}

/* Mobile view app */
.mobile-drawer .ant-drawer-content {
  background-color: #131d1e;
  color: #fff;
}

.mobile-drawer .ant-drawer-content .ant-drawer-wrapper-body .ant-drawer-body {
  padding: 0 !important;
}

.mobile-collapse.ant-collapse .ant-collapse-item {
  border: none !important;
}

.mobile-collapse.ant-collapse .ant-collapse-header {
  background-color: #fbf9f9;
  color: #333 !important;
  border-bottom: 1px solid #0c596345;
  padding: 20px !important;
}

.mobile-collapse.ant-collapse .ant-collapse-content {
  border-radius: 0 !important;
}

.mobile-collapse.ant-collapse .ant-collapse-content-box {
  padding: 10px 30px;
}

.mobile-collapse.ant-collapse .ant-collapse-header-text {
  width: 100%;
}

/* menu mobile view app */
.ant-menu.mobile-sidebar-menu {
  border-right: none;
}

.ant-menu .mobile-sidebar-menu-item .menu-sideBar-title {
  color: #fff !important;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}

.ant-menu
  .ant-menu-item-active.ant-menu-item-selected.mobile-sidebar-menu-item
  .menu-sideBar-title {
  color: #333 !important;
}

.ant-menu
  .mobile-sidebar-menu-item.ant-menu-item-active.ant-menu-item-selected::after {
  border-right: 5px solid #fe4e15;
}

.ant-menu .mobile-sidebar-submenu .ant-menu-sub.ant-menu-inline {
  background-color: unset;
  color: #fff !important;
  padding-left: 10px;
  border-left: 1px solid #fbfbfb33;
  margin-left: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ant-menu.mobile-sidebar-menu
  .mobile-sidebar-submenu
  .ant-menu-submenu-title
  .mobile-sidebar-menu-item {
  background-color: unset !important;
}

.ant-menu.mobile-sidebar-menu
  .mobile-sidebar-submenu
  .ant-menu-submenu-title
  .mobile-sidebar-menu-item::after {
  display: none;
}

.ant-menu .mobile-sidebar-submenu .ant-menu-submenu-arrow {
  color: #fff;
}

/* collapse cart order item */
.collapse-cart-order-item .ant-collapse-header-text {
  width: 100%;
}

@media screen and (max-width: 520px) {
  .mySwiper.choosenSwiper .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after,
  .mySwiper.choosenSwiper .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    color: #fff;
  }
}

@media screen and (max-width: 580px) {
  .register .ant-steps.ant-steps-vertical {
    display: none;
  }
}
